each team in teams
  h1= team.name
  ul.no-bullets.team-box
    each member in team.members
      li
        .team-member
          .team-member-left
            - let avatarURL = member.avatarURL || 'http://placehold.it/64x64'
            img.team-member-object(src=avatarURL, alt='', width='64', height='64')
          .team-member-body
            h4.media-heading= member.name
            if member.title
              p= member.title
            if member.from
              p= member.from
