h1 The Team
each team in currentTeams
  h2= team.name
  ul.no-bullets.team-box
    each member in team.members
      li
        .team-member
          .team-member-left
            - let avatarURL = member.avatarURL || 'http://placehold.it/64x64'
            img.team-member-object(src=avatarURL, alt='', width='64', height='64')
          .team-member-body
            h4.media-heading= member.name
            if member.title
              p= member.title
            if member.from
              p= member.from

h1 Student Team Structure
p Here is the list of teams and their leaders.
ul
  li Mechanical Team led by Ana-Maria Badilita
  li Scientifical Team led by Alexander Hamilton
  li Outreach Team led by Ana-Maria Badilita
  li Electrical Team led by Fernando Alvarez-Gonzalez
  li Software Team led by Petrica Taras
  li Economics Team led by Jack He
    
h1 Former Team members
if previousMembers.length <= 0
  p No former members.
else
  ul
    each member in previousMembers
      li= member.name
