div(style='display:none;')
  // This code is generated using a generator tool. Find out more: https://github.com/dannycjones/sunbyte-team-generator
  // This is in a hidden div since Wordpress really dislikes HTML comments

h1 Student Team Structure
p Here is the list of teams and their leaders.
ul.no-bullets.subteam-box
  each subTeam in subTeams
    li
      .team-member
        if subTeam.leader.avatarURL
          .team-member-left
            img.team-member-object(src=subTeam.leader.avatarURL, alt='Photo of ' + subTeam.leader.name)
        .team-member-body
          p= 'The ' + subTeam.name + ' is led by ' + subTeam.leader.name

each team in currentTeams
  h1= team.name
  ul.no-bullets.team-box
    each member in team.members
      li
        .team-member
          if member.avatarURL
            .team-member-left
              img.team-member-object(src=member.avatarURL, alt='Photo of ' + member.name)
          .team-member-body
            h4.media-heading= member.name
            if member.title
              p= member.title
            if member.from
              p= member.from
    
h1 Former Team members
if previousMembers.length <= 0
  p No former members.
else
  ul
    each member in previousMembers
      li= member.name + ', ' + member.from
